<h2>Create Task</h2>

<div class="form-group mb-2">
    <label>Title</label>
    <input id="title" class="form-control" />
</div>

<div class="form-group mb-2">
    <label>Description</label>
    <textarea id="description" class="form-control"></textarea>
</div>

<div class="form-group mb-2">
    <label>Status</label>
    <select id="taskStatus" class="form-control">
        <option value="todo">To Do</option>
        <option value="in_progress">In Progress</option>
        <option value="done">Done</option>
    </select>
</div>

<div class="form-group mb-2">
    <label>Priority</label>
    <select id="taskPriority" class="form-control">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
</div>

<div class="form-group mb-3">
    <label>Due Date</label>
    <input id="dueDate" type="date" class="form-control" />
</div>

<button type="button" onclick="saveTask()" class="btn btn-success">
    Save
</button>

<script>
    function saveTask() {
        let data = {
            title: $("#title").val(),
            description: $("#description").val(),
            status: $("#taskStatus").val(),
            priority: $("#taskPriority").val(),
            dueDate: $("#dueDate").val()
        };

        console.log(data);

        $.ajax({
            url: "/api/TaskAPI/tasks",
            method: "POST",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function () {
                alert("Task created!");
                window.location.href = "/Task/Index";
            },
            error: function (err) {
                console.log("API Error:", err.responseText);
                alert("Create failed!");
            }
        });
    }

</script>

